
html{

 background-color: rgba(0, 0, 0, 0.87);
color: rgba(224, 248, 246, 0.85);
}
p{
  padding-bottom: 10px;
  font-size: 25px;
  font-family:Georgia,sans-serif;
  border: 1px solid rgba(224, 0, 0, 0.31) !important;
}
.page-layout{

}
h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family:Georgia,sans-serif;

}

ul
{
  text-align: center;
  background-color: rgba(123, 226, 146, 0.42) ;
  font-size: 20px;
    color: black;
  border: 1px solid #f00 !important;
}
  ol{
    text-align: center;
    background-color: gray ;
     color: black;
     font-size: 20px;
    border: 1px solid #f00 !important;

    list-style-type: circle;
  }
